.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    background-color: #f0f4f9;
    justify-content: space-between;
  
} 
.sidebar img{
    width: 20px;

}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    background-color: #e6eaf1;
    color: grey;
    cursor: pointer;
}
.sidebar .recent-entry.chat{
    overflow: hidden;
  
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s; 
}
.sidebar .recent-title{
   margin-top: 20px;
   margin-bottom: 30px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    padding-right: 40px;
    color: #282828;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }

}